* {
  font-family: "Roboto Slab", serif !important;
}

body {
  background-color: rgb(65, 65, 65);
}

#settingsPanel {
  width: 300px;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2,
h3,
h5,
h4 {
  color: White;
}

h4,
h3 {
  text-align: center;
}

hr {
  color: white;
}

i,
.range-field {
  margin: 1rem auto;
  width: 250px;
  height: 36px;
}

input {
  color: white;
}

#settingsPanel {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#drawSpace {
  width: 500px;
  height: 500px;
  border-style: solid;
  border-color: rgb(54, 54, 54);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.settingsContainer {
  background-color: rgba(2, 86, 119, 0.575);
  padding: 20px;
  border-radius: 10px;
}

#banner {
  margin-bottom: 3rem;
}

.pixel {
  background-color: white;
}

@media only screen and (max-width: 1274px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #drawSpace {
    margin: 4rem;
  }
}
